@{
    Layout = "_Layout";
}

@using data.Models
@model Student

<style>
    /* Form */
    form {
        width: 40%;
        height: auto;
        margin: auto;
        padding: 1.5rem;
        border-radius: .5rem;
        background-color: whitesmoke;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.136);
        text-align: center;
    }

        form .form-control:focus {
            box-shadow: none;
            border: none;
            outline: none;
        }

        form .form-control:active {
            box-shadow: none;
            border: none;
            outline: none;
        }

        form .btn-box {
            width: 100%;
            /* background-color: blue; */
            align-items: center;
            justify-content: center;
            text-align: center;
        }
</style>

<form class="form mt-5" method="post">
    <h1 class="mb-4">Update Student</h1>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="std_id" id="floatingInput" placeholder="ID" value="@Model.std_id" hidden required>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="std_name" id="floatingInput" placeholder="Name" value="@Model.std_name" autocomplete="off" required>
        <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Class" name="std_class" value="@Model.std_class" autocomplete="off" required>
        <label for="floatingInput">Class</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Section" name="std_section" value="@Model.std_section" autocomplete="off" required>
        <label for="floatingInput">Section</label>
    </div>
    <div class="btn-box mt-4">
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="@Url.Action("ShowStudents", "Home")" class="btn btn-secondary">View</a>
    </div>
</form>

